<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Хакатон{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'main/images/logo.svg' %}" type="image/x-icon">
    <link href="{% static 'main/styles/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <h1><a href="{% url 'home' %}">Хакатон</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'modules' %}">Модули</a></li>
                    <li><a href="{% url 'participants' %}">Участники</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Хакатон. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
