{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="welcome">
    <h1>Добро пожаловать на Хакатон!</h1>
    <p class="description">Ты находишься на главной странице сайта, посвященный хакатону известной компании. Данный хакатон уже завершился, но сайт будет использоваться в дальнейшем. Ниже приведены общие сведения о хакатоне.</p>
</div>

<div class="info-section">
    <h2>Что такое хакатон?</h2>
    <p>Хакатон — это мероприятие, на котором программисты, дизайнеры и другие специалисты в области разработки работают над решением какой-либо задачи или проблемы. Основная цель хакатона — создать прототип продукта или решить конкретную задачу за ограниченное время.</p>
</div>

<div class="goals-section">
    <h2>Цели хакатона</h2>
    <ul>
        <li>Стимулирование творчества</li>
        <li>Создание новых технологий и задач</li>
        <li>Получение опыта в разработке</li>
    </ul>
</div>


{% endblock %}
